/* Add CSS Styling */
.odd {
    background-color: rgb(211, 77, 77);
    font-family: Veranda, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(10, 10, 249);
    font-size: 26px;
}

#tree {
    font-size: 24px;
}

#four {
    background-color: rgb(114, 220, 114);
    font-size: 24px;
    font-weight: bold;
}
